.fixed-text {
    // font-weight: 500;
    // font-weight: bold;
    font-family: Cascadia Code PL;
}

.cpuindicator {
    opacity: 0.8;
}
.cpuindicator trough {
    // min-width: 5px;
    min-height: 20px;
    margin: 0px;
    background-color: rgba(0,0,0,0);
    border: 0;
}

.cpuindicator trough progress {
    background-color: #999999;
    border-color: #999999;
}

.cpuindicator.active trough progress {
    background-color: #0099CC;
    border-color: #0099CC;
}

.cpuindicator.max trough progress {
    background-color: #CC3333;
    border-color: #CC3333;
}

.date {
    margin-top: 20px;
}

.center-box {
    // background-color: rgba(33,33,33,0.5)
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    color: #ccc;
}

window {
    background-color: rgba(23,23,23,.3);
    border-radius: 20px;
}

.network {
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0px 0px 2px #000000;
    margin: 0px 10px;
    min-width: 50px;
}

.network .active {
    color: #33CCFF;
}

.network .max {
    color: #FF6666;
}

.labeled {
    font-weight: 500;
    text-shadow: 0px 0px 2px #000000;
    margin: 10px 0px;
}
.labeled .title {
    font-weight: 600;
    font-size: 9px;
}
.labeled .active {
    color: #33CCFF;
}
.labeled .max {
    color: #FF6666;
    text-shadow: 0px 0px 5px #CC0000;
}

.loadavg-box {
    font-weight: 500;
    text-shadow: 0px 0px 2px #000000;
    margin: 0 0px;
    font-size: 11px;
}
.loadavg-box .title {
    font-weight: 600;
    font-size: 9px;
}
.loadavg-box .loadavg-part {
    margin: 0px 5px;
}
.loadavg-box .active {
    color: #33CCFF;
}
.loadavg-box .max {
    color: #FF6666;
    text-shadow: 0px 0px 5px #CC0000;
}
